In [50]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [51]:
df2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [52]:
df=df.iloc[:,1:9]# removing first column

In [53]:
#remmoving unecessary space in column header
df.columns=df.columns.str.strip()
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [54]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [55]:
df.shape

(500, 8)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
GRE Score            500 non-null int64
TOEFL Score          500 non-null int64
University Rating    500 non-null int64
SOP                  500 non-null float64
LOR                  500 non-null float64
CGPA                 500 non-null float64
Research             500 non-null int64
Chance of Admit      500 non-null float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

In [57]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [58]:
df.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [59]:
df.corr()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [60]:
#chances of admit is highly correlated with GRE_Score, TOEFFL_Score, CGPA

In [63]:
x=df.drop("Chance of Admit", axis=1)
y=df["Chance of Admit"]

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=50)

In [66]:
X_train.shape

(350, 7)

In [71]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [72]:
scaler=StandardScaler()

In [74]:
x_train_tf=scaler.fit_transform(X_train)

In [75]:
model=SVR()
model.fit(x_train_tf,y_train)

SVR()

In [76]:
model.score(x_train_tf, y_train)

0.786328329786455

In [77]:
x_test_tf=scaler.transform(X_test)

In [78]:
y_pred = model.predict(x_test_tf)

In [79]:
y_pred

array([0.590613  , 0.58068804, 0.61484034, 0.49323156, 0.52853823,
       0.63582304, 0.88000173, 0.654972  , 0.50305825, 0.57765905,
       0.88097101, 0.88390332, 0.75329944, 0.77163298, 0.73088347,
       0.65969501, 0.72473623, 0.8758306 , 0.66851597, 0.72684194,
       0.67763231, 0.59009185, 0.6186067 , 0.54875028, 0.61947927,
       0.74438481, 0.6820379 , 0.79309537, 0.66751983, 0.62130977,
       0.85743039, 0.65725289, 0.85108595, 0.84803919, 0.52898572,
       0.73624186, 0.85739557, 0.62111359, 0.84658071, 0.44222628,
       0.87947406, 0.71985382, 0.66032001, 0.70012712, 0.75490808,
       0.68081238, 0.68899318, 0.8001242 , 0.47689648, 0.69935289,
       0.82239693, 0.78092432, 0.54585662, 0.61406436, 0.53750297,
       0.78344231, 0.70090069, 0.87844818, 0.44555767, 0.53996947,
       0.59634096, 0.84713118, 0.79975133, 0.8316124 , 0.61799813,
       0.65307304, 0.68810467, 0.67814947, 0.56974583, 0.88545993,
       0.85007022, 0.69829294, 0.85712976, 0.66472061, 0.64218337,
       0.6605454 , 0.4602586 , 0.70483856, 0.77901654, 0.58627415,
       0.8442194 , 0.66194935, 0.69227232, 0.65571847, 0.72814646,
       0.68946849, 0.64085783, 0.87599865, 0.67750713, 0.85534105,
       0.84608277, 0.60312817, 0.64306147, 0.85344341, 0.80125805,
       0.76817305, 0.63045041, 0.69735584, 0.64110047, 0.74052347,
       0.57001669, 0.75148269, 0.6184441 , 0.70792589, 0.72675799,
       0.79046811, 0.63721632, 0.64396357, 0.82320225, 0.85459056,
       0.66343971, 0.87218918, 0.63124205, 0.81593817, 0.749287  ,
       0.6971675 , 0.87058188, 0.81136827, 0.8713311 , 0.76178563,
       0.59279634, 0.87605326, 0.56588473, 0.77444551, 0.52735284,
       0.58366942, 0.86612745, 0.630678  , 0.66453428, 0.59970827,
       0.71626966, 0.63950839, 0.78881545, 0.69379539, 0.49742281,
       0.79360045, 0.71595059, 0.74775935, 0.69051368, 0.62551021,
       0.66215864, 0.87039702, 0.60598791, 0.88755905, 0.69537731,
       0.63998212, 0.67440753, 0.68299192, 0.84859108, 0.54925814])

In [82]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print(score)

0.700060959715854