1.load this data in sql and in pandas with a relation in sql

In [16]:
#reading table from sql
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'test1', user="root", passwd="mysql",use_pure=True)
    cur=mydb.cursor()
    query='select * from superstore_usa'
    out=pd.read_sql(query,mydb)
    mydb.close()
except Exception as e:
    print(str(e))

In [17]:
out.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101.0,2012-05-28,2012-05-30,1.3200,2.0,5.90,88525.0
1,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221.0,2010-07-07,2010-07-08,4.5600,4.0,13.01,88522.0
2,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-47.6400,7.0,49.92,88523.0
3,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-30.5100,7.0,41.64,88523.0
4,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-27,998.2023,8.0,1446.67,88523.0

In [2]:
import pandas as pd

In [129]:
df= pd.read_csv(f'G:\ineuron\dataset\Superstore_USA.csv', encoding='ANSI')

In [130]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,5/28/2012,5/30/2012,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/7/2010,7/8/2010,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.2023,8,1446.67,88523

2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

In [ ]:
#done in pwershell
csvsql -d ','-e ANSI --db mysql+mysqlconnector://root:mysql@localhost:3306/test1 --tables superstore_usa --insert Superstore_USA.csv

3 . Find out how many return we have recived and with a product id

In [ ]:
#no data

4 . try  to join order and return data both in sql and pandas

In [ ]:
#no return data

5 . Try to find out how many unique customer that we have

In [5]:
df['Customer ID'].nunique()

2703

6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [8]:
#no manager name in dataset
df['Region'].unique()

array(['Central', 'West', 'East', 'South'], dtype=object)

7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [9]:
df['Ship Mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [36]:
df['Order Date']=pd.to_datetime(df['Order Date'])
df['Ship Date']=pd.to_datetime(df['Ship Date'])

In [37]:
df['order_ship_date_diff']=(df['Ship Date']-df['Order Date']).dt.days

In [38]:
df.head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,order_ship_date_diff
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.90,88525,2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56,4,13.01,88522,1

9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [ ]:
df['order_ship_date_diff']=pd.(df['order_ship_date_diff'])

In [52]:
df[df['order_ship_date_diff']>10]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [ ]:
#no return date and shipment duration given

11 . Gorup by region and find out which region is more profitable

In [53]:
df.groupby('Region')['Profit'].sum()

Region
Central    519825.567066
East       377566.186045
South      104201.192421
West       310849.453891
Name: Profit, dtype: float64

In [ ]:
#central

12 . Try to find out overalll in which country we are giving more didscount

In [101]:
#only usa data so i have taken states
d=df.set_index('State or Province').groupby(['State or Province'])['Discount'].sum().reset_index()

In [110]:
d.sort_values(['Discount'],ascending=False).iloc[0]

State or Province    California
Discount                  52.28
Name: 3, dtype: object

13 . Give me a list of unique postal code

In [96]:
df['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

14 . which customer segement is more profitalble find it out .

In [97]:
df.groupby('Customer Segment')['Profit'].sum()

Customer Segment
Consumer          206559.625349
Corporate         505538.627783
Home Office       283869.553809
Small Business    316474.592482
Name: Profit, dtype: float64

In [ ]:
#Corporate

15 . try to find out the 10th most loss making product catagory .

In [113]:
#there are only 3 product catogory so i have used su product category
d=df.set_index('Product Sub-Category').groupby(['Product Sub-Category'])['Profit'].sum().reset_index()

In [117]:
d.sort_values(['Profit'],ascending=False).iloc[9]

Product Sub-Category      Paper
Profit                  35361.6
Name: 10, dtype: object

16 . Try to find out 10 top  product with highest margins

In [131]:
#considering shipping cost is paid by customer
df['Margin']=df['Unit Price']-df['Discount']

In [148]:
d=df.set_index('Product Name').groupby('Product Name')['Margin'].max().reset_index()

In [157]:
d.sort_values(['Margin'],ascending=False).head(10)

                                          Product Name   Margin
860   Polycom ViewStation™ ISDN Videoconferencing Unit  6783.02
835  Okidata Pacemark 4410N Wide Format Dot Matrix ...  3502.13
325              Canon imageCLASS 2200 Advanced Copier  3499.98
447                  Epson DFX-8500 Dot Matrix Printer  2550.14
712               Lexmark 4227 Plus Dot Matrix Printer  2036.47
859  Polycom ViewStation™ Adapter H323 Videoconfere...  1938.02
655               Ibico EPK-21 Electric Binding System  1889.96
592        High Speed Automatic Electric Letter Opener  1637.49
448                  Epson DFX5000+ Dot Matrix Printer  1500.96
832            Okidata ML395C Color Dot Matrix Printer  1360.12