In [2]:
import pandas as pd

In [317]:
df=pd.read_csv(f'G:\ineuron\dataset\Agent_Login_Report.csv')
df1=pd.read_csv(f'G:\ineuron\dataset\AgentPerformance.csv')

In [318]:
df.head()

   SL No               Agent       Date  Login Time Logout Time Duration
0      1  Shivananda Sonwane  30-Jul-22  3:35:29 PM  5:39:39 PM  2:04:10
1      2      Khushboo Priya  30-Jul-22  3:06:59 PM  3:07:16 PM  0:00:17
2      3       Nandani Gupta  30-Jul-22  3:04:24 PM  5:31:07 PM  2:26:42
3      4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM  3:19:35 PM  0:45:06
4      5             Mukesh   30-Jul-22  2:03:15 PM  3:11:52 PM  1:08:36

In [319]:
df.dtypes

SL No           int64
Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

In [320]:
df1.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [321]:
df1.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [322]:
df1['Date']=pd.to_datetime(df1['Date'])   #conver to datetime format

In [323]:
df1['week']=df1['Date'].dt.week    #get week from Date

In [324]:
df1.groupby('week')['Average Rating'].mean()

week
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.617847
Name: Average Rating, dtype: float64

2 .Total working days for each agents

In [326]:
df.groupby('Agent')['Date'].nunique()

Agent
Aditya Shinde              1
Aditya_iot                 8
Amersh                     2
Ameya Jain                 7
Ankitjha                   2
Anurag Tiwari             10
Aravind                    7
Ayushi Mishra              9
Bharath                    8
Boktiar Ahmed Bappy        9
Chaitra K Hiremath         7
Deepranjan Gupta          10
Dibyanshu                  9
Harikrishnan Shaji         9
Hrisikesh Neogi            9
Hyder Abbas                2
Ineuron Intelligence       1
Ishawant Kumar            11
Jawala Prakash             9
Jaydeep Dixit              7
Khushboo Priya             8
Madhulika G                8
Mahesh Sarade              8
Maitry                     5
Manjunatha A               7
Mithun S                   8
Mukesh                     2
Muskan Garg                6
Nandani Gupta              9
Nishtha Jain               8
Nitin M                    1
Prabir Kumar Satapathy     7
Prateek _iot              11
Prerna Singh               9
Rishav Dash                7
Saikumarreddy N            7
Sanjeev Kumar              9
Saurabh Shukla             4
Shiva Srivastava           8
Shivan K                   8
Shivananda Sonwane        10
Shubham Sharma            11
Sowmiya Sivakumar          8
Sudhanshu Kumar            6
Suraj S Bilgi              2
Swati                      4
Tarun                      1
Wasim                      9
Zeeshan                    9
Name: Date, dtype: int64

3. Total query that you have taken

In [258]:
df1.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

4. total Feedback that you have received

In [259]:
df1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

5. a agent name who have average rating between 3.5 to 4

In [260]:
#calculated mean rating from average rating for each agent
df1['mean_rating'] = (
      df1.groupby('Agent Name')['Average Rating'].transform('mean')
   )

In [261]:
d=df1[(df1['mean_rating']>3.5)&(df1['mean_rating']<4)]['Agent Name']
d.unique()

array(['Manjunatha A', 'Khushboo Priya', 'Boktiar Ahmed Bappy',
       'Ishawant Kumar'], dtype=object)

6 . Agent name who have rating lesss then 3.5

In [262]:
d=df1[df1['mean_rating']>3.5]['Agent Name']
d.unique()

array(['Manjunatha A', 'Khushboo Priya', 'Boktiar Ahmed Bappy',
       'Shivananda Sonwane', 'Ishawant Kumar'], dtype=object)

7 . agent name who have rating more then 4.5

In [263]:
d=df1[df1['mean_rating']>4.5]['Agent Name']
d.unique()#No one

array([], dtype=object)

8 . how many feedaback agents have received more then 4.5 average

In [264]:
##calculated mean feedback from total feedback for each agent
df1['feedback_average']=df1.groupby('Agent Name')['Total Feedback'].transform('mean')

In [266]:
d=df1[df1['feedback_average']>4.5]['Agent Name']
d.unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Saikumarreddy N', 'Sanjeev Kumar', 'Shubham Sharma',
       'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Shivan K',
       'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S', 'Aditya Shinde',
       'Prabir Kumar Satapathy', 'Wasim ', 'Maitry ', 'Aravind ',
       'Bharath ', 'Zeeshan ', 'Jaydeep Dixit', 'Ayushi Mishra',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

9 . average weekly response time for each agent

In [ ]:
#not done

10 . average weekely resolution time for each agents

In [ ]:
#not done

11 . list of all agents name

In [304]:
df['Agent'].unique()

array(['Shivananda Sonwane', 'Khushboo Priya', 'Nandani Gupta',
       'Hrisikesh Neogi', 'Mukesh ', 'Sowmiya Sivakumar', 'Manjunatha A',
       'Harikrishnan Shaji', 'Suraj S Bilgi', 'Shivan K', 'Anurag Tiwari',
       'Ishawant Kumar', 'Shubham Sharma', 'Prerna Singh', 'Nishtha Jain',
       'Prateek _iot ', 'Mithun S', 'Madhulika G', 'Boktiar Ahmed Bappy',
       'Jawala Prakash', 'Dibyanshu ', 'Deepranjan Gupta',
       'Jaydeep Dixit', 'Ayushi Mishra', 'Mahesh Sarade', 'Muskan Garg',
       'Chaitra K Hiremath', 'Shiva Srivastava', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Sanjeev Kumar', 'Zeeshan ',
       'Rishav Dash', 'Wasim ', 'Bharath ', 'Ameya Jain',
       'Saikumarreddy N', 'Aravind ', 'Amersh ', 'Sudhanshu Kumar',
       'Ankitjha ', 'Maitry ', 'Aditya Shinde', 'Hyder Abbas', 'Swati ',
       'Saurabh Shukla', 'Nitin M', 'Ineuron Intelligence ', 'Tarun '],
      dtype=object)

12 . percentage of chat on which they have received a feedback

In [ ]:
#not done

13 . Total contributation hour for each and every agents weekly basis

In [306]:
df['Date']=pd.to_datetime(df['Date'])
df['week']=df['Date'].dt.week

In [312]:
df['Duration']=pd.to_timedelta(df['Duration'])

In [314]:
df.groupby(['Agent','week'])['Duration'].sum()

Agent          week
Aditya Shinde  30      0 days 00:02:10
Aditya_iot     29      0 days 06:05:43
               30      0 days 09:38:09
Amersh         30      0 days 03:03:50
Ameya Jain     29      1 days 00:04:59
                            ...
Tarun          26     21 days 10:08:20
Wasim          29      0 days 19:37:32
               30      1 days 04:33:13
Zeeshan        29      1 days 00:25:39
               30      1 days 00:39:40
Name: Duration, Length: 89, dtype: timedelta64[ns]

14. total percentage of active hour for a month

In [ ]:
#not done