1. Read this dataset in pandas , mysql and mongodb

In [82]:
import pandas as pd

df= pd.read_csv(f'G:\ineuron\dataset\FitBitdata.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

In [ ]:
#done in powershell 
csvsql -d ',' --db mysql+mysqlconnector://root:mysql@localhost:3306/test1 --tables Fitbit FitBitdata.csv

3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [31]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [32]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [33]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [ ]:
#sql 
ALTER TABLE fitbit modify column ActivityDate timestamp;

4 . Find out in this data that how many unique id's we have

In [35]:
df['Id'].nunique()

35

5 . which id is one of the active id that you have in whole dataset

In [23]:
#most active id
df['Id'].value_counts().nlargest(n=2)

4057192912    32
4020332650    32
Name: Id, dtype: int64

6 . how many of them have not logged there activity find out in terms of number of ids

In [24]:
df['Id'].value_counts() #every id having less than 32 logging days is not looged those days

4057192912    32
4020332650    32
1624580081    19
1503960366    19
4702921684    15
2347167796    15
4445114986    15
6962181067    14
8253242879    12
4558609924    12
4319703577    12
2320127002    12
8877689391    12
5553957443    12
8378563200    12
7007744171    12
7086361926    12
2873212765    12
1927972279    12
1844505072    12
3977333714    12
8792009665    12
2022484408    12
2026352035    12
5577150313    11
8053475328    11
6290855005    10
3372868164    10
6117666160    10
1644430081    10
6775888955     9
6391747486     9
4388161847     8
8583815059     8
2891001357     8
Name: Id, dtype: int64

7 . Find out who is the laziest person id that we have in dataset

In [26]:
#laziest id
df['Id'].value_counts().nsmallest(n=3)

4388161847    8
8583815059    8
2891001357    8
Name: Id, dtype: int64

8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [ ]:
2200

In [65]:
df.iloc[0][10]

33

9. how many person are not a regular person with respect to activity try to find out those

In [83]:
active=[]
for i in df['VeryActiveMinutes']:
    if i<6:
        active.append(0)#not active
    else:
        active.append(1)#active

df['Active']=active

In [86]:
df['Active'].head()

0    1
1    1
2    1
3    1
4    1
Name: Active, dtype: int64

In [88]:
df[df['Active']==0]['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 6117666160, 6290855005, 6391747486, 6775888955,
       7007744171, 7086361926, 8053475328, 8253242879, 8378563200,
       8583815059, 8792009665, 8877689391], dtype=int64)

10 . who is the third most active person in this dataset find out those in pandas and in sql both .

In [116]:
d=df.set_index('Id').groupby('Id')['VeryActiveMinutes'].sum().reset_index()

In [118]:
d.sort_values(['VeryActiveMinutes'],ascending=False).iloc[2]

Id                   8877689391
VeryActiveMinutes           802
Name: 34, dtype: int64

In [ ]:
#sql
select Id , sum(VeryActiveMinutes) as s from fitbit group by Id order by s Desc  limit 2, 1;

11 . who is the 5th most laziest person avilable in dataset find it out

In [131]:
#laziest id
df['Id'].value_counts().nsmallest(n=5)

4388161847    8
8583815059    8
2891001357    8
6775888955    9
6391747486    9
Name: Id, dtype: int64

12 . what is a total cumulative calories burn for a person find out

In [29]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64